.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    margin-bottom: 24px;
    padding: 24px;
    max-width: 100%;
}

.hero-text h1 {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 12px;
}

.hero-text p {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 16px;
    line-height: 1.5;
}

.learn-more-btn {
    background-color: var(--primary-dark-blue);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text {
        width: 50%;
        margin-bottom: 0;
    }

    .hero-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}