 @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 * {
     /* box-sizing: border-box; */
     margin: 0;
     font-family: "Albert Sans", sans-serif;
     font-size: 16px;
 }

 .section-title {
     font-size: 24px !important;
     margin-bottom: 12px !important;
     color: var(--primary-dark-blue) !important;
     font-weight: 600;
 }